/*
 * Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
 */

:root {
    --aws-color-dark: #232f3e;
    --horizontal-spacing-for-content: 16px;
    --default-font-family: JetBrains Sans, Inter, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,Roboto, Oxygen, Ubuntu,Cantarell, Droid Sans, Helvetica Neue, Arial, sans-serif;
}

.menu-toggle {
    background: none;
}

.menu-toggle:focus {
    outline: 2px solid #fff; /* White outline */
    outline-offset: 2px;    /* Space between the outline and the button */
}

#pages-search:focus {
    outline: revert;
}

/* copied from Dokka except for background-color attribute */
.navigation {
    display: flex;
    justify-content: space-between;

    color: #fff;
    background-color: var(--aws-color-dark);
    font-family: var(--default-font-family);
    letter-spacing: -0.1px;

    /* Reset margin and use padding for border */
    margin-left: 0;
    margin-right: 0;
    padding: 10px var(--horizontal-spacing-for-content);

    z-index: 4;
}

/* Styles for section tabs like "Types" and "Functions" */
.section-tab:focus, .section-tab:active {
    outline: 2px solid var(--active-tab-border-color); /* The color appears unresolved, but it is defined in Dokka style sheets */
}

/*
    Dokka does not break links or code blocks properly by default. Add word-wrap to prevent left/right scrollbar from
    appearing on small screens.
*/
.main-content a:not([data-name]) {
    word-wrap: break-word;
}
.symbol {
    overflow-wrap: break-word;
}

/*
    Disable the playground run button for generated samples
    https://github.com/Kotlin/dokka/issues/3041
*/
div .compiler-info, .fold-button, .run-button {
    display: none;
}

.skip-to-content {
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
}

.skip-to-content:focus,
.skip-to-content:active {
    width: auto;
    height: auto;
    opacity: 1;
    z-index: 999; /* Ensure the skip link is on top of other content */
}

.content .symbol .monospace {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.aws-toggle-content-btn {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
}

@media (max-width: 320px) {
    .content[data-togglable] {
        display: none;
    }
}