/*
 * Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
 */

:root {
    --color-background-nav: #232f3e;
    --dokka-logo-height: 60px;
    --dokka-logo-width: 90px;
}

.skip-to-content {
    position: absolute; /* Remove from normal flow */
    top: 0; /* Position off-screen */
    left: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    z-index: -1; /* Ensure it's not visible */
}

.skip-to-content:focus,
.skip-to-content:active {
    position: static; /* Restore to normal flow when focused */
    width: auto;
    height: auto;
    opacity: 1;
    z-index: 999; /* Ensure it's on top */
}

/*
    Dokka does not break links or code blocks properly by default. Add word-wrap to prevent left/right scrollbar from
    appearing on small screens.
*/
.main-content a:not([data-name]) {
    word-wrap: break-word;
}
.symbol {
    overflow-wrap: break-word;
}
.keyValue {
    display: block;
}