/*
 * Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
 */

.library-name a {
    position: relative;
    --logo-width: 72px;
    margin-left: calc(var(--logo-width) + 5px);
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 700;
    margin-top: 10px;
    margin-right: 8px;
}

.library-name a::before {
    content: '';
    /* path is relative to final asset location output dir */
    background-image: url('../images/aws_logo_white_59x35.png');
    background-size: contain;
    position: absolute;
    width: 59px;
    height: 35px;
    left: calc(-1 * var(--logo-width) - 5px);
    margin-right: 5px;
}

/* Copied from Dokka except `top` replaced with `margin-top` attribute */
.library-version {
    position: relative;
    margin-left: 3px;
    color: rgba(255,255,255,.7);
    font-size: 13px;
    font-weight: normal;
    line-height: 16px;
    margin-top: 19px;
}
