[*.{kt,kts}]
# ktlint rules to disable
disabled_rules=no-wildcard-imports,filename

# enable trailing commas per JetBrains recommendation
# (https://kotlinlang.org/docs/coding-conventions.html#trailing-commas)
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_allow_trailing_comma = true