name: CI

on:
#  Following triggers are disabled until dependency resolution to smithy-kotlin is resolved.  
#  push:
#    branches: [ mainline ]
#  pull_request:
#    branches: [ mainline ]
  workflow_dispatch:

jobs:
  CI:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 8
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build
        run: ./gradlew build -x test -x jvmTest
      - name: Unit Tests
        run: ./gradlew test
      - name: Lint
        run: ./gradlew ktlint
